.card{
    background:#393737;
    border-radius: 10px;
    padding:20px;
    min-width: 40rem;
    min-height: 20rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    max-height: 100vh;
    overflow-y: auto;
}